{% extends "base.html.twig" %}

{% block title %}
	Modification de la classe
	{{ classRoom.name }}
{% endblock %}

{% block body %}
	<div class="my-5 container">
		<h1>Modification de la classe
			{{ classRoom.name }}
		</h1>


		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Ajouter</button>
		{{ form_end(form) }}

	</div>

{% endblock %}
